{erl_opts, [debug_info]}.
{minimum_otp_vsn, "17.4"}.
{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}}
]}.

{relx, [{release, {"fizzbuzz", "0.0.1"},
    [kernel, stdlib, fizzbuzz, jsx, cowboy],
    [{dev_mode, true},
    {include_erts, false}]}]}.
